= simple_form_for [:admin, post] do |post_form|
  = post_form.input :body, as: :hidden
  = content_for :message_box do
    = render 'shared/errors', object: post_form.object
  = post_form.input :subject, autofocus: true
  = post_form.association :categories
  = render partial: 'wysiwyg_toolbar'
  #post_body_editor{ contenteditable: true }
    = raw post.body
  .form-actions
    = post_form.button :submit, class: 'btn btn-success'
    = link_to t('.cancel'), admin_posts_path, class: 'btn cancel', id: 'cancel_update'
= content_for :dom_ready do
  $('#post_body_editor').wysiwyg()
  $('form').submit(function(){
  $('#post_body').val($('#post_body_editor').html());
  true;
  });
