%table.table.table-striped
  %thead
    %tr
      %th= t('.subject')
      %th= t('.author')
      %th= t('.comments')
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.subject
        %td= post.author.full_name
        %td= post.comments.count
