<h2><%= post.subject %></h2>
<p>
  <%= raw post.body %>
</p>
<ul class="comments unstyled">
  <% post.comments.each do |comment| %>
  <li>
    <h4><%= comment.author.full_name %></h4>
    <%= comment.body %>
  </li>
  <% end %>
  <li class="form">
  <%= simple_form_for post.comments.build, url: post_comments_path(post), html: {class: 'hidden'} do |comment_form| %>
    <%= comment_form.input :body, label: t('.body'), input_html: {rows: 5} %>
    <div class="actions">
      <%= comment_form.button :submit, class: 'btn btn-success' %>
      <%= link_to t('.cancel'), '#', class: 'btn cancel' %>
    </div>
  <% end %>
</li>
</ul>
<div class="footer">
  <span class="posted">
    <%= t '.author', {author: post.author.first_name, ago: time_ago_in_words(post.created_at)} %>
  </span>
  <% if allow_comments %>
  <div class="comments">
    <i class="icon-comments"></i> <span class="count"><%= t('.comments', count: post.comments.size - 1) %></span>
    <%= link_to raw(t('.comment')), '#', class: 'btn btn-success add-comment' %>
  </div>
  <% end %>
</div>