.row.blog
  .col-md-1
  .col-md-10
    %h2
      .pull-left.date
        .day= @post.created_at.day
        .month= @post.created_at.strftime('%B').upcase
        .year= @post.created_at.year
      .subject=@post.subject
      .small= "BY #{@post.author.full_name.upcase}"
    %p= raw @post.body
  .col-md-1
