= simple_form_for [:admin, user] do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :first_name, required: true
    = f.input :last_name, required: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
  .form-actions
    = f.button :submit, "Submit", class: 'btn btn-primary'
    = link_to 'Cancel', admin_users_path, class: 'btn btn-default'
