!!!
%html
  %head
    %title TinyRobotArmy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag 'logo.png', alt: 'Tiny Robot Army'
    %nav
      %ol.unstyled
        %li
          = link_to raw(site_link_label), root_path
        %li
          = link_to raw(dashboard_link_label), admin_dashboard_path
        %li
          = link_to raw(posts_link_label), admin_posts_path
        %li
          = link_to raw(categories_link_label), admin_categories_path

    = message_box(yield(:message_box))
    = yield
    %footer
      \&copy; 2011 - 2012 Tiny Robot Army
    :javascript
      $(document).ready(function(){
        #{yield(:dom_ready)}
      });
