!!!
%html
  %head
    %title TinyRobotArmy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .top-bar
    = image_tag 'logo.png', alt: 'Tiny Robot Army', class: 'logo'
    %nav
      %ol.unstyled
        %li
          = link_to raw(icon_link_label('globe', t('.site'))), root_path
        %li
          = link_to raw(icon_link_label('edit', t('.posts'))), admin_posts_path
        %li
          = link_to raw(icon_link_label('tasks', t('.categories'))), admin_categories_path
        %li
          = link_to raw(icon_link_label('picture-o', t('.images'))), admin_images_path
        %li
          = link_to raw(icon_link_label('users', t('.users'))), admin_users_path
        %li
          = link_to(raw(sign_out_label), destroy_session_path(current_user), method: :delete)

    = message_box(yield(:message_box))
    .container-fluid.outer
      = yield
    %footer
      \&copy; 2011 - 2012 Tiny Robot Army
    :javascript
      $(document).ready(function(){
        #{yield(:dom_ready)}
      });
