!!!
%html
  %head
    %title TinyRobotArmy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag 'logo.png', alt: 'Tiny Robot Army'
    %nav
      %ol.unstyled
        %li
          = link_to raw(icon_link_label('icon-globe', t('.site'))), root_path
        %li
          = link_to raw(icon_link_label('icon-dashboard', t('.dashboard'))), admin_dashboard_path
        %li
          = link_to raw(icon_link_label('icon-edit', t('.posts'))), admin_posts_path
        %li
          = link_to raw(icon_link_label('icon-tasks', t('.categories'))), admin_categories_path
        %li
          = link_to raw(icon_link_label('icon-picture', t('.images'))), admin_images_path

    = message_box(yield(:message_box))
    .container-fluid.outer
      = yield
    %footer
      \&copy; 2011 - 2012 Tiny Robot Army
    :javascript
      $(document).ready(function(){
        #{yield(:dom_ready)}
      });
