!!!
%html
  %head
    %title TinyRobotArmy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag 'logo.png', alt: 'Tiny Robot Army'
    %nav
      %ol.unstyled
        %li
          = link_to home_link_label, '/'
        %li
          = link_to contact_link_label, '/contact'
        %li
          = link_to blog_link_label, blog_path
        %li
          = sign_in_out current_user
        %li
          = admin_link current_user
    = message_box(yield(:message_box))
    .container-fluid.outer
      = yield
    %footer
      \&copy; 2011 - 2012 Tiny Robot Army
    :javascript
      $(document).ready(function(){
        #{yield(:dom_ready)}
      });
