!!!
%html
  %head
    %title TinyRobotArmy
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = image_tag 'logo.png', alt: 'Tiny Robot Army'
    %nav
      %ol.unstyled
        %li= link_to icon_link_label('icon-home', t('.home')), '/'
        %li= link_to icon_link_label('icon-envelope', t('.contact_us')), '/contact'
        %li= link_to icon_link_label('icon-rss', t('.blog')), blog_path
        %li= admin_link current_user
        - if App.allow_sign_in
          %li= sign_in_out current_user
    = message_box(yield(:message_box))
    .container-fluid.outer
      = yield
    %footer
      \&copy; 2011 - 2012 Tiny Robot Army
    :javascript
      $(document).ready(function(){
        #{yield(:dom_ready)}
      });
