<!DOCTYPE html>
<html>
<head>
  <title>TinyRobotArmy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag 'logo.png', alt: 'Tiny Robot Army' %>
  <nav>
    <ol class="unstyled">
      <li>
        <a href="/" title="Home">
          <i class="icon-home"></i>
          <div>Home</div>
        </a>
      </li>
      <li>
        <a href="/contact" title="Contact">
          <i class="icon-envelope"></i>
          <div>Contact</div>
        </a>
      </li>
      <li style="display:none;">
        <a href="/posts" title="Blog">
          <i class="icon-rss"></i>
          <div>Blog</div>
        </a>
      </li>
    </ol>
  </nav>
  <%= message_box(yield(:message_box)) %>
  <%= yield %>
<footer>
  &copy; 2011 - 2012 Tiny Robot Army
</footer>
<script type="text/javascript">
  $(document).ready(function(){
    <%= yield(:dom_ready) %>
  });
</script>
</body>
</html>
